*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/keystore/android_keys
/keystore/otcpharm-keystore.jks
/.idea/.name
/keystore/
/.idea/vcs.xml
/app/google-services.json
